@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }




/* css style start from here */
.nav-button{
   padding: 0px 20px;
}
/* .nav-button i{
    margin-top:19px;
} */

.hamburger-image{
   display:none;
}

/* banner section style */

.banner{
    background-image: url(../assets/hero-bg.png);
    border-top:1px solid #412667;
    background-repeat: no-repeat;

}
.banner-container{
    max-width: 550px;
    margin: 0 auto;
    margin-top:-100px;

}

.banner-image{
    position:relative;
    max-width: 360px;
    /* max-height: 350px; */
    margin: 0 auto;
    margin-top: 101px;
}

.new{
    position: absolute;
    background-color: #00ff88;
    border-radius: 1000px;
    padding:8px 16px;
    font-weight: 600;
    font-size: 1.125rem;
    color:#1a0b2e;
    max-width: 75px;
    margin-left: 280px;
    margin-top: 35px;
}

.hero-circle{
    width: 100%;
}

.microphone{
    margin:0 auto;
    margin-top: -255px;
}


