@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }




/* css style start from here */
.nav-button{
   padding: 0px 20px;
}
/* .nav-button i{
    margin-top:19px;
} */

.hamburger-image{
   display:none;
}

/* banner section style */

.banner{
    background-image: url(../assets/hero-bg.png);
    border-top:1px solid #412667;
    background-repeat: no-repeat;

}
.banner-container{
    max-width: 550px;
    margin: 0 auto;
    margin-top:-100px;
    

}

.banner-image{
    position:relative;
    max-width: 360px;
    /* max-height: 350px; */
    margin: 0 auto;
    margin-top: 101px;
}

.new{
    position: absolute;
    background-color: #00ff88;
    border-radius: 1000px;
    padding:8px 16px;
    font-weight: 600;
    font-size: 1.125rem;
    color:#1a0b2e;
    max-width: 75px;
    margin-left: 280px;
    margin-top: 35px;
}

.hero-circle{
    width: 100%;
    
}

.microphone{
    margin:0 auto;
    margin-top: -255px;
}

/* podcast style section */
.podcast{
    background-color: #1a0b2e;
    margin-top: -38px;

}
.podcast-container{
    max-width: 1200px;
    margin: 0 auto;
}
.podcast-title{
    font-size: 3rem;
    font-weight: bold;
    color:white;
    text-align: center;
    margin-bottom: 16px;

}

.podcast-description{
    font-size: 1rem;
    color:#ffffff9d;
    text-align: center;
    font-weight: 100;
    margin-bottom: 80px;
}

.podcast-rate{
    border-top: 1px solid rgba(255, 255, 255, 0.355);
    padding:80px 0px;
}

.podcast-rate-item{
    text-align: center;
}

.podcast-rate-item h2{
    color:#00ff88;
    font-size: 3rem;
    font-weight: bold;
    margin-top: -15px;
}

.podcast-rate-item i{
    color:#00ff88;
}

.podcast-rate-item p{
    color:#ffffff;
    font-size: 1rem;
    font-weight: 100;
}


/* techwave section style */

.techwave{
    background-color: #230e3d;
    padding:120px 0px;
}

.techwave-container{
    max-width: 1200px;
    margin:0px auto;
}
.techwave-item{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding:40px;
}

.techwave-item img, h3, i{
    margin-bottom:16px;

}
.techwave-item h3{
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}
.techwave-item p{
    color:#ffffffa0;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 100;
}

